# MGT 858: Database Systems
## Hospital Data Schema

The code written below seeks to add data to a postgresql database

### Import packages

In [1]:
!pip install faker

Collecting faker
  Downloading Faker-6.6.0-py3-none-any.whl (1.2 MB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\logan\anaconda3\lib\site-packages (from faker) (2.8.1)
Collecting text-unidecode==1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Requirement already satisfied: six>=1.5 in c:\users\logan\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: text-unidecode, faker
Successfully installed faker-6.6.0 text-unidecode-1.3

In [6]:
import random
import numpy as np
import pandas as pd
from datetime import timedelta
import datetime
import sqlite3
from faker import Faker

### Add randomly generated patients to the hospital

In [8]:
# Pre-existing SSNs for patients
SSN_list = [500000001, 500000002, 500000003, 500000004, 500000005, 500000006, 500000007, 500000008]

# Create randomly generated data for new patients
def add_patients(num_to_add):
    fake = Faker()
    for i in range(num_to_add):
        SSN = 500000009 + i
        SSN_list.append(SSN)
        full_name = fake.name()
        address = fake.address()
        phone_number = str(random.randint(100,999)) + "-" + str(random.randint(1000,9999))
        insurance_id = random.randint(10000000,99999999)
        pcp = random.randint(1,13)
        print(f"INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES({SSN}, '{full_name}', '{address}', '{phone_number}', {insurance_id}, {pcp});")

In [9]:
# Call add_patients function and add 100 generated patients
add_patients(100)

INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000009, 'Selena Coleman', '4257 Walter Cove Suite 983
New Clairefort, VA 54864', '455-4520', 10797656, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000010, 'Ralph Perez', '6357 Wilson Crescent Apt. 749
West Melissaside, VT 22680', '661-8606', 79779148, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000011, 'Marvin Edwards', '935 Lynch Ferry Suite 998
Jeffersonburgh, CT 39688', '554-5757', 65080298, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000012, 'Stephanie Walton', '377 Black Road
Albertfort, WY 15057', '925-2025', 99298393, 5);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000013, 'Patricia Ellis', '7498 Welch Glens
Lake William, ME 32218', '617-7835', 98511434, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000014, 'Jessica Byrd', '45294 Jamie Place
West Traci, NV 39273', '843-1919', 97328969, 2);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000015, 'Christopher Campbell', '0577 Harris Vista Apt. 538
Hutchinsonchester, NY 30304', '159-7336', 72424671, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000016, 'Brittany Salinas', 'USNS Friedman
FPO AA 77850', '256-9568', 66147834, 1);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000017, 'Erin Armstrong', '32932 Lynch Mountain
North Melissa, ID 43575', '325-5567', 12899911, 5);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000018, 'Michael Duarte', '400 Jasmine Roads
North Ginabury, DC 93431', '791-6633', 18746389, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000019, 'Alison Ramirez', '0244 Dennis Village Apt. 092
Ashleyville, DC 25914', '992-7004', 55180762, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000020, 'Stephen Flowers', '012 Wong Landing
Port Linda, IN 58376', '451-4448', 14997450, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000021, 'Daisy Harper', 'USNV Carter
FPO AP 07541', '837-9525', 37262004, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000022, 'William Bell', '46089 Jose Knoll Suite 475
Cartershire, NY 52789', '386-5619', 52975806, 2);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000023, 'Brittany Smith', '961 Molly Valleys Apt. 218
North Lindsay, SD 21354', '971-2088', 90921090, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000024, 'Jessica Ayers', '301 Johnson Fort
Simmonsport, RI 81607', '516-8033', 81648937, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000025, 'Rebecca Ortega', '4926 Amanda Fields Suite 665
Erikmouth, LA 68690', '408-4718', 54456325, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000026, 'Rebecca Walker MD', '5807 William Dam Suite 448
West Paige, VA 82991', '421-4766', 86581248, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000027, 'John Hernandez', '110 Soto Pass Suite 058
New Jennifermouth, MN 46016', '119-5488', 13444637, 5);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000028, 'Tiffany Henry', '15428 Jimmy Fork
East Christopher, NH 66372', '811-9537', 48627067, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000029, 'William Moreno', '2866 Jonathan Spring
West Martinview, NV 13397', '770-4148', 10282002, 4);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000030, 'Teresa Norris', '2493 Rivera Street
Thomasberg, TN 79217', '276-3658', 81583767, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000031, 'Amy Johnson', '747 Melissa Station Suite 845
Alexanderbury, FL 56222', '318-2969', 31142417, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000032, 'Marissa Banks', '6266 Martin Land Suite 538
Tonyachester, KS 96355', '946-3706', 14627291, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000033, 'Crystal Winters', '698 Keith Court
Bradtown, NM 77963', '371-3591', 75137641, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000034, 'Alan Melendez', 'Unit 1824 Box 7598
DPO AE 04497', '322-7465', 74790147, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000035, 'Jenny White', '4846 Beck Summit Apt. 895
West Vincent, KY 94715', '146-2294', 90304151, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000036, 'Cheyenne Collins', '33673 Jessica Manors
Sarahstad, AK 17426', '767-2078', 82457398, 4);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000037, 'Angel Kennedy', '903 Gutierrez Course Suite 548
North Monicaburgh, MA 64444', '137-9384', 69702816, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000038, 'Mrs. Sara Rose', '799 Kenneth Unions Suite 958
Newmanmouth, KS 23804', '243-6991', 52585744, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000039, 'Monique Simmons', '81407 Joan Prairie Apt. 604
Port Jenniferburgh, MA 82598', '228-3944', 44152256, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000040, 'Angela Miller', '781 Hall Isle
Matthewview, VT 55528', '229-6495', 85790662, 2);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000041, 'Kathryn Warren', '91349 Wilkerson Vista
Barbershire, MO 20400', '378-8018', 57594446, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000042, 'Michael Bryan', 'Unit 3728 Box 1587
DPO AP 42010', '681-1744', 56358947, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000043, 'Samuel Reid', 'USCGC Drake
FPO AE 88414', '694-2102', 85480536, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000044, 'Mary Berry', '656 Baker Ports
South Deborahview, CO 98236', '160-7978', 88744924, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000045, 'Carl Turner', '66087 Brenda Forks Suite 741
New Virginiaburgh, MS 53153', '911-8743', 60681154, 4);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000046, 'Johnny Allen', '43130 Grant Mall
West Robert, MI 59299', '639-2385', 63122064, 1);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000047, 'Renee Delacruz', '92761 Amanda Springs
Shannonchester, DC 04519', '190-1905', 39426852, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000048, 'Tammy Wall', '8569 Reynolds Fork Suite 334
Smithview, GA 75858', '375-8860', 79922267, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000049, 'Jessica Parker', '2637 Ramsey Street Suite 734
Millermouth, OK 43953', '298-8618', 14629298, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000050, 'Daniel Alvarez', '87187 Cathy Extensions
Ellisside, ME 83414', '277-2219', 35018748, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000051, 'Justin Henry', '47449 Carmen Coves Apt. 500
North Alicia, NM 85414', '362-3808', 84428132, 4);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000052, 'Joshua Horton', '534 Cassidy Greens
Debramouth, RI 90873', '449-7128', 48062668, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000053, 'Brittany Jones', '358 Curtis Turnpike Apt. 480
New Richard, WI 59662', '470-6264', 97555370, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000054, 'Brian Mendoza', '29591 Miller Burg Apt. 541
North Jennifer, KY 47678', '601-5581', 83658634, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000055, 'Abigail Gilbert', '91810 Jackson Canyon
Paigemouth, OR 50108', '707-5507', 29424836, 4);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000056, 'Christopher Gallagher', '287 Chad Mall
Lake Williammouth, AR 49306', '845-9119', 89771021, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000057, 'Dana Parker', '2229 Watts Fort Apt. 001
South Sethton, ID 35677', '591-7591', 43561750, 2);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000058, 'Eileen Humphrey', '46932 Curtis Knoll Apt. 826
Palmerland, TN 98537', '908-8739', 49126702, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000059, 'Kevin Long', '5116 Fisher Isle Apt. 177
Wrighttown, NH 19889', '771-8545', 50256990, 5);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000060, 'John Adams', '53961 William Square
Ryanburgh, OR 46257', '626-7944', 29564521, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000061, 'Karen Dunn', '8522 Coleman Knoll
East Deniseport, AK 32483', '569-2895', 95827239, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000062, 'Mark Alvarez', '9375 Washington Fords
New Leonton, DE 35667', '695-2413', 38069760, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000063, 'Michelle Garcia', '38335 Combs Union
South Matthew, GA 94273', '215-7546', 95770315, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000064, 'Michael Gonzales', '5339 Clark Common
Brianaport, CA 21328', '619-4618', 96128196, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000065, 'Thomas Martin', '921 Richardson Village Apt. 508
West Adriennemouth, NC 25544', '128-1788', 64297140, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000066, 'Tracy Luna', '4503 Brown Squares Suite 142
Port Raymondton, ME 33399', '162-7702', 57908523, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000067, 'Sharon Rice', '075 Cynthia Lodge Suite 857
East Gavinhaven, MA 07367', '567-8875', 90654235, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000068, 'Kimberly Moore', '5291 Mueller Mission Apt. 875
Port Lisa, NJ 16928', '707-9684', 90236663, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000069, 'Christine Pitts', '363 Benton Streets
Taylorhaven, KY 72544', '542-6340', 36857342, 1);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000070, 'Anthony Anderson', '5259 Adam Port Apt. 799
North Katherine, MS 04397', '466-5994', 51685317, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000071, 'Kristina Meyer', 'Unit 3958 Box 0934
DPO AP 53340', '813-6726', 30807400, 5);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000072, 'Jacob Lopez', '3670 James Fork
East Williamburgh, DE 57499', '424-1353', 34942825, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000073, 'Thomas Ferguson', '599 Wendy Springs Apt. 524
North Jennifershire, CO 06430', '857-6812', 40949259, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000074, 'Jamie Buckley', '65512 Burgess Fords
Diazfort, NY 24895', '904-6865', 63422851, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000075, 'James Fuller', '597 Smith Well Suite 947
Wyattmouth, MI 68430', '458-9121', 63613191, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000076, 'James Raymond', '1684 Gary Way Apt. 926
Brownside, MI 67678', '403-9118', 16952166, 4);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000077, 'Timothy Ramirez', 'Unit 3731 Box 6030
DPO AE 54598', '217-8136', 58771421, 4);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000078, 'Patricia Walker', '447 King Orchard Suite 987
Williamsshire, AZ 88311', '219-8885', 34565877, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000079, 'Jennifer Marshall', '74244 Brianna Square Apt. 345
Port Randall, ME 19555', '997-7423', 53081216, 10);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000080, 'Katelyn Lee', '94235 Collin Land
Wattsmouth, TN 22655', '511-8342', 67782980, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000081, 'Daniel Hicks', '55290 Owen Divide
South Meganshire, NY 60659', '301-9077', 77662288, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000082, 'Amy Bailey', '340 Miller Wells
Port Jillberg, OR 41076', '917-3600', 31994372, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000083, 'Mary Hunter', '745 Williams Mission
Foxberg, DE 66898', '581-3489', 35934278, 10);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000084, 'Jeremy Hester', '5480 Joseph Green
Juantown, SD 30206', '133-2743', 42202400, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000085, 'David Haynes', '066 Heather Ridges Suite 361
Karenfurt, KY 40559', '967-9959', 92089397, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000086, 'Dr. Austin Fowler', '27157 Amanda Mountains
Anthonyshire, DE 49074', '246-2999', 63018438, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000087, 'Brooke Gutierrez MD', '66462 Natalie Lane Apt. 117
Port Jesse, MO 07793', '959-6050', 58746047, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000088, 'Steven King', 'PSC 4704, Box 2612
APO AE 04838', '759-2763', 62933796, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000089, 'Kelly Mathis', '10330 Craig Point
Lake Jaimebury, OK 19932', '707-7516', 46293799, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000090, 'Michael Freeman', '04090 Stephanie Ports Apt. 957
North Juliachester, MT 51565', '621-6242', 77256519, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000091, 'Michael Odom', 'PSC 6367, Box 6312
APO AE 63726', '502-9412', 65785276, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000092, 'Desiree Phillips', '873 Russell Inlet Apt. 234
Trevorton, WY 04239', '897-5824', 12646125, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000093, 'Stephanie Sandoval', '21301 Alisha Overpass Suite 588
West Michaelastad, IA 09968', '569-2189', 19069324, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000094, 'Shannon Romero', '57815 Jose Meadows Apt. 451
Harrisburgh, LA 09104', '521-1480', 80337810, 1);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000095, 'John Wells', '8219 Hayley Landing Suite 086
North Alejandroshire, DE 87533', '203-5707', 75666408, 10);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000096, 'Madison Wilson', '7612 Ramirez Fork Suite 960
Burkeburgh, TN 65986', '139-9062', 26953450, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000097, 'Jack Kelly', '00766 Juan Squares Apt. 339
Paulland, CT 49897', '485-2086', 87998830, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000098, 'Colleen Thornton', 'PSC 9504, Box 9273
APO AA 97664', '775-4843', 65918005, 4);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000099, 'Amanda King', '600 Curry Pine Apt. 887
Waynefort, KS 27597', '638-4182', 51597956, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000100, 'Laurie Callahan', '018 Hamilton Park Apt. 681
Morganbury, MD 22737', '926-4686', 45782470, 2);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000101, 'Travis Morris', '35790 Massey Mountains Suite 599
New Michael, KY 75989', '232-1274', 11393412, 4);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000102, 'Donna Ferguson', '43890 Derek Vista Apt. 625
North Robert, MS 26239', '144-2480', 46093140, 2);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000103, 'Jennifer Sampson', 'PSC 2755, Box 9106
APO AA 63835', '958-4276', 97500700, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000104, 'Lindsey Moore', '45325 Robert Landing
Lesterberg, DE 99503', '503-2349', 20568401, 1);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000105, 'Richard Stout', '906 Michael Squares
West Jonathanchester, VT 41090', '347-1377', 10850005, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000106, 'Kristin Mccarthy', '157 Wilson Burg
Kimberlytown, WY 78882', '967-3832', 69459616, 2);

## Add patient stays to the hospital for given set of rooms

In [14]:
# Define hospital rooms
rooms =  [i+j for i in range(100, 700, 100) for j in range(1, 11)]

# Defines dates for which we will generate hospital stays
dates = pd.to_datetime(pd.date_range(start="2020-01-01",end="2020-05-10"))

# Defines a function that returns a dataframe of randomly generated patient stays
def patient_stays():
    # Create empty dataframe
    cols = ['date','patient_SSN','room_number','stay_start','stay_end']
    data = pd.DataFrame(columns = cols)
    
    # Create empty dictionaries to store patient and room data
    occupied_rooms = {}
    admitted_patients = {}
    
    # Iterate over all the days in the date range of interest
    for date in dates:
        daily_arrival = random.randint(0,3) # Here, we say on any day, between 0-3 people will arrive randomly
        daily_patient_arrival = random.sample(SSN_list,daily_arrival) # Select the 0-3 patients from the patient list
        
        # If the occupied_rooms/admitted_patients dictionary is not empty, subtract 1 day from the amount of 
        # time a patient is in the hospital from the total time they were set to stay in the hospital
        if len(occupied_rooms) != 0:
            occupied_rooms = {key: val - 1 for key, val in occupied_rooms.items()}
    
        if len(admitted_patients) != 0:
            admitted_patients = {key: val - 1 for key, val in admitted_patients.items()}
        
        # Delete patients and rooms from the list if they free up after a patient stay
        admitted_patients = {key:val for key, val in admitted_patients.items() if val >= 0}              
        occupied_rooms = {key:val for key, val in occupied_rooms.items() if val >= 0}    
        
        # Iterate over the randomly generated list of patients
        for patient in daily_patient_arrival:
            
            # If the randomly generated patient is already in the hospital, do nothing; 
            # If the randomly generated patient is new, assign them a room and hospital stay length in days
            if (patient not in admitted_patients):
                
                # Randomly sample a room
                assigned_room = random.choice(rooms)
                
                # If the room is already occupied, keep checking for a free room
                while (assigned_room in occupied_rooms): 
                    assigned_room = random.choice(rooms)

                # Here, we say people stay on average 2 day with a 1 day std.dev.    
                stay_length = abs(round(np.random.normal(2,1),0)) 
                stay_start = datetime.datetime.strptime(str(date),'%Y-%m-%d %H:%M:%S').date()
                stay_end = stay_start + datetime.timedelta(days=stay_length)
                
                # Add new patient/room (key) and stay_length (value) to the occupied_rooms and admitted_patients dictionaries
                occupied_rooms[assigned_room] = stay_length
                admitted_patients[patient] = stay_length

                data = data.append({'date':stay_start,'patient_SSN':patient,'room_number':assigned_room,'stay_start':stay_start,'stay_end':stay_end},ignore_index=True)
                
    return data

## Check added patient stay data for duplicates or error entries

In [15]:
# Call patient_stays function 
stay_data = patient_stays()

# Number of rows in data
print(len(stay_data.index))

# Check for duplicates (e.g., there should not be two entries with same data and room_number)
stay_data = stay_data.drop_duplicates(subset=['date','room_number'])

# Number of rows in clean data
print(len(stay_data.index))

185
185

## Create dataframe for each day and each hospital room

In [ ]:
# Define function that creates dataframe with entry for each day in desired date range and each hospital room ("room_table")
def room_table():
    cols = ['date','room_number']
    room_df = pd.DataFrame(columns = cols)
    for date in dates:
        for room in rooms:
            current_room = room
            current_date = date
            room_df = room_df.append({'date':current_date,'room_number':current_room},ignore_index=True)
    return room_df

In [ ]:
# Call function
room_df = room_table()

## Merge room_table with stay_data for database schema

In [ ]:
# Use python sqlite3 to merge
conn = sqlite3.connect(':memory:')

# Send room_df and stay_data to sql
room_df.to_sql('rooms', conn, index=False)
stay_data.to_sql('stay_data', conn, index=False)

In [ ]:
# SQL code to merge the two tables
qry = '''
    SELECT a.date, a.room_number, b.patient_SSN, b.stay_start, b.stay_end
    FROM rooms a
        LEFT JOIN stay_data b ON (a.date >= b.stay_start AND a.date <= b.stay_end) AND a.room_number = b.room_number
    ORDER BY a.date, a.room_number;
    '''
# Send output of SQL query to pandas df
df = pd.read_sql_query(qry,conn)

# Output dataframes to csv for additional error checking
stay_data.to_csv('stay_data_check.csv')
df.to_csv('df_check.csv')

## Add availability column to dataframe and write INSERT INTO statements

In [ ]:
# Add new availability column (true=room available, false = room occupied)
df['room_available'] = np.where(np.isnan(df['patient_SSN']),True,False)

# Remove timestamp from date column
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].dt.date

# Convert patient_SSN from float64 to object
df['patient_SSNs'] = np.where(np.isnan(df['patient_SSN']),'Null',df['patient_SSN'])
df['patient_SSNs'] = df['patient_SSNs'].str.replace('.0','',regex=False)

In [ ]:
# Create SQL insert statements for 'room_stays' table
for index, row in df.iterrows():
    print(f"INSERT INTO room_stays (room_number, room_date, patient_SSN, room_available) VALUES({row['room_number']},'{row['date']}',{row['patient_SSNs']},{row['room_available']});")

In [ ]:
# Create SQL insert statements for 'rooms' table
for room in rooms:
    print(f"INSERT INTO rooms (room_number, room_type) VALUES({room},'Single');")

In [ ]:
# Create SQL insert statements for 'stays' table
for index, row in df.iterrows():
    if row['patient_SSNs'] != 'Null':
        print(f"INSERT INTO stays (patient_SSN, room_number, stay_start, stay_end) VALUES({row['patient_SSNs']},{row['room_number']},'{row['stay_start']}','{row['stay_end']}');")