# MGT 858: Database Systems
## Hospital Data Schema

The code written below seeks to add data to a postgresql database

### Import packages

In [20]:
import random
import numpy as np
import pandas as pd
from datetime import timedelta
import datetime
import sqlite3
from faker import Faker

### Add randomly generated patients to the hospital

In [21]:
# Pre-existing SSNs for patients
SSN_list = []

# Create randomly generated data for new patients
def add_patients(num_to_add):
    fake = Faker()
    for i in range(num_to_add):
        SSN = 500000009 + i
        SSN_list.append(SSN)
        full_name = fake.name()
        address = fake.address()
        phone_number = str(random.randint(100,999)) + "-" + str(random.randint(1000,9999))
        insurance_id = random.randint(10000000,99999999)
        pcp = random.randint(1,13)
        print(f"INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES({SSN}, '{full_name}', '{address}', '{phone_number}', {insurance_id}, {pcp});")

In [22]:
# Call add_patients function and add 100 generated patients
add_patients(100)

INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000009, 'Isaac Gross', '3734 Zachary Fork
Davidton, IA 86764', '828-5200', 51222791, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000010, 'Kevin Nelson', '53080 Bradford Rapids
Lake John, MT 23711', '614-8744', 92073148, 5);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000011, 'Shelley Young', '22054 Sarah Rapid Apt. 360
Mcgeetown, OH 72888', '143-8048', 59186994, 4);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000012, 'Jeremy Adkins Jr.', '62812 Anderson Locks Suite 879
Hannahchester, CT 90731', '794-9470', 84527459, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000013, 'Gregory Watts', '76184 Virginia Summit Apt. 654
Lake Ericberg, WI 52528', '673-8745', 70095771, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000014, 'Ryan Wang Jr.', '41255 Heather Club
Hernandezfort, MO 98816', '188-3928', 35005685, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000015, 'Joanna Sharp', '223 Andrew Ville Suite 871
Lake Jimmouth, NY 24270', '665-4018', 21437228, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000016, 'Christopher Hinton', '985 Nancy Street
Grosston, RI 09674', '354-4851', 51477126, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000017, 'Brenda Porter', '704 Kristi Avenue
Melissaton, NC 97066', '492-2146', 84135353, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000018, 'Kerri Ponce', '35659 Brooks Center
Huntertown, WY 26869', '574-7388', 34139585, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000019, 'Nathan Alvarado', '97947 Julie Junction Suite 552
Martinchester, AL 64585', '329-5034', 32841154, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000020, 'Alicia Carr', 'PSC 1709, Box 6757
APO AP 61382', '512-5997', 97625193, 5);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000021, 'Christian Williams', '25402 Mitchell Cliff Suite 864
Gouldland, VA 57668', '666-3553', 68146062, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000022, 'Kimberly Garrett', 'Unit 8514 Box 8190
DPO AE 49125', '227-2647', 20657781, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000023, 'Jessica Singleton', '09784 Scott Mill
Vazquezmouth, PA 83155', '852-9523', 89776306, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000024, 'Mary Kim', '66826 Carpenter Haven Suite 728
Port Kimberlyfurt, NC 39758', '795-2336', 99430229, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000025, 'Sharon Gonzalez', '90753 Sparks Extensions Suite 411
Cherylport, FL 53767', '194-6188', 67095936, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000026, 'Michelle Blair', '8980 Harris Prairie Suite 271
Ariasside, NM 41507', '524-1650', 39578498, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000027, 'Mary Mason', 'USCGC Arnold
FPO AP 75130', '912-3229', 53984884, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000028, 'Brian Welch', '851 Conner Pines Suite 851
East Christinechester, RI 59867', '503-8192', 66418055, 2);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000029, 'Sean Rollins', '9692 Sanchez Cape
Marshbury, AR 29960', '530-8310', 58075633, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000030, 'Christopher Garza', '287 Christopher Rapid Suite 539
Port John, MN 12814', '313-9022', 18375736, 1);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000031, 'Jason Alvarado', '49367 Christina Mountain
Taylorburgh, LA 33139', '789-8810', 96741528, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000032, 'Christopher Conner PhD', '20725 Johnson Freeway
Isabellamouth, UT 52157', '612-1092', 79465025, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000033, 'Alexander Jones', 'USS Brown
FPO AA 66881', '851-9784', 66585232, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000034, 'Eric Gonzalez', '5316 Sosa Plaza
Lake Maryville, ME 61044', '262-3261', 12337151, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000035, 'Gregory Rivera', '5445 Zhang Overpass Apt. 526
Hallville, IA 74171', '219-3554', 92477893, 2);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000036, 'Angela Dominguez', '2312 Smith Fords
Angelabury, VA 12207', '221-4406', 31109955, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000037, 'Karina Pope', '46583 Randy Crest
South Todd, MS 50892', '458-1150', 73003592, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000038, 'Thomas Powell', '6413 Jesse Pine Apt. 933
New Tonyabury, NH 48884', '301-8204', 46170093, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000039, 'Ryan James', 'PSC 2637, Box 7689
APO AP 96225', '109-2229', 20406324, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000040, 'Stacey Porter', '183 Jenkins Radial
West Markton, NY 30841', '608-9886', 56445656, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000041, 'Jasmine Foster', '062 Ramos Pass
Lake Kristin, NH 21179', '977-2944', 21437322, 10);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000042, 'Joseph Hall', '88175 Smith Islands Suite 223
Alexandrashire, WY 66843', '133-2486', 72506526, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000043, 'Jacqueline Pacheco', '7810 Tracy Causeway Suite 061
Port Shellychester, IL 13562', '578-5292', 51644276, 5);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000044, 'Joshua Hamilton', '439 Jason Fall
Lake Amberton, PA 81410', '210-8741', 94834569, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000045, 'Lindsey Brooks', '00534 Byrd Expressway
Aliciatown, MS 64254', '850-6812', 95566022, 2);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000046, 'Jeffrey Jones', '333 Randall Shoal
Bryanmouth, NV 78096', '813-8657', 66611900, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000047, 'Stephanie Whitney', '0935 Burke Court Suite 663
Bakerfurt, MN 89579', '152-8353', 64174630, 4);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000048, 'Carl Forbes', '8846 Theresa Oval Suite 298
Mallorymouth, CT 01688', '992-8522', 44240406, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000049, 'James Stone', '6942 Mendez Ranch Apt. 340
Port Frankport, KS 55448', '839-5852', 69045899, 10);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000050, 'William Elliott', '42199 Jenna Circle Suite 031
Lake Amanda, UT 09391', '981-4431', 92167266, 10);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000051, 'Mark Bryant', '0048 Reeves Islands Apt. 324
North Heather, CO 05008', '369-3139', 26976832, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000052, 'James Snow', '0061 Jones Estates
New Karinaborough, AK 41601', '471-7167', 89536838, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000053, 'Jason Ray', '87396 Delgado Meadow Suite 298
Perezburgh, ME 60659', '938-9433', 25146579, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000054, 'Anthony Chandler', '6017 Jamie Port
Campbellview, MN 68351', '961-4340', 72419031, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000055, 'Lisa Clark', '904 Rachel Estates
Brandonside, AK 17858', '702-9007', 90204322, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000056, 'Richard Johnson', '4573 Miranda Crossing Apt. 668
East Paultown, NY 21031', '620-6875', 37081870, 1);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000057, 'Kyle Hess', '969 Michael Knolls Apt. 409
Lake John, VT 55371', '780-3968', 31849133, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000058, 'Janet Thompson', '59265 Jared Ways
New Sarahland, RI 54347', '215-3848', 13588176, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000059, 'John Lee', '28513 Heather Isle Suite 343
Nathanielstad, CA 37715', '802-4958', 58883238, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000060, 'Matthew Kelley', '8149 Lambert Walks Apt. 524
Paulstad, MI 22821', '409-2921', 77625497, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000061, 'Michael Velez', '9786 Emma Knolls Apt. 489
East Brian, MI 25687', '264-7241', 70351617, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000062, 'Kelsey Miller', '39020 Ronald Street Suite 154
East Amanda, FL 69637', '959-2707', 16314898, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000063, 'James Anderson', '14021 Monica Groves Suite 089
West Michael, IL 65090', '832-3021', 84643960, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000064, 'Laura Smith', '1323 Mary Stream
West Jessica, AK 19097', '993-3762', 75038045, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000065, 'Lynn Calhoun', 'Unit 6263 Box 9919
DPO AP 57277', '267-4082', 86862726, 4);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000066, 'John Horton', '1328 Kimberly Curve Apt. 843
Kimberlyborough, KY 72229', '748-9666', 91430692, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000067, 'Nicholas Johnson', '7111 Keith Springs
West Donna, SC 38729', '554-5100', 69826026, 1);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000068, 'John Snyder', '75878 Brandon Hill
North Morganstad, NJ 97134', '136-6220', 75071066, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000069, 'Teresa Estrada', '43344 Brown Meadow
East Jocelyn, LA 58359', '348-2636', 59300497, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000070, 'Joshua Weber', '662 Knapp Extension Suite 818
Shermanhaven, TN 22757', '657-9273', 60991617, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000071, 'Lauren Reyes', '55122 Taylor Road Suite 987
West Jasonfort, OH 12523', '653-6866', 76687964, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000072, 'Mr. Danny Jones', '49256 Jackson Avenue
Danielfort, NM 71141', '859-2937', 59525075, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000073, 'Christina Lindsey DDS', 'USCGC Medina
FPO AP 59869', '677-4758', 16719215, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000074, 'Melvin Roberts', '388 Megan Pike Apt. 609
New Diane, WA 81553', '348-2556', 52484837, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000075, 'Jason Gutierrez', '5518 Keller Mountains
Annaside, TN 26180', '131-8525', 97801219, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000076, 'Casey Michael', '73652 Lewis Green Apt. 312
Reesetown, OR 37708', '684-8435', 86874669, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000077, 'Sharon Cantrell', '71658 Kelsey Corner
Lake Robert, CO 25833', '393-6351', 64755250, 1);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000078, 'Brandi Fisher', '5757 Leon Oval
East Sandra, RI 83027', '351-8982', 85625547, 3);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000079, 'Andrea Mayo PhD', '434 Cooper Prairie
Port Tyler, OR 51119', '500-2889', 56623734, 5);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000080, 'Jordan Hill', '784 Rodriguez Skyway
North Amyland, VA 95614', '599-9876', 69577103, 1);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000081, 'Sarah Sanchez', '8787 Brian Spur Apt. 386
Samanthaberg, MI 77481', '189-6581', 30645517, 1);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000082, 'Dennis Casey', '3221 Willis Club Apt. 669
Scottmouth, MD 16212', '522-2792', 39964358, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000083, 'David Arroyo', '7984 Thomas Court Apt. 886
West Kellybury, KS 62704', '932-7964', 72257536, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000084, 'Timothy Carlson', '660 Mary Fort
Port Williamville, NE 64483', '922-7023', 83870809, 2);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000085, 'Ronald Chavez', '301 Austin Summit Suite 410
East Kelly, NV 10659', '889-3639', 29163297, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000086, 'Gregory Choi', '37786 Hall Green
Singhberg, NV 81214', '199-7934', 28298850, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000087, 'James Smith', '525 Frank Islands Suite 914
West Antonioshire, OK 99160', '473-1898', 63164818, 7);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000088, 'David Durham', '4522 Sabrina Ramp Suite 372
Peterhaven, NY 19589', '969-7837', 10719477, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000089, 'Rebekah Escobar', '9310 Kelly Hill
New Crystal, PA 08730', '660-1763', 13636897, 8);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000090, 'Peter Pennington', '06378 Boyer Crest
Port Christopherborough, NY 41858', '775-1557', 94847151, 12);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000091, 'Austin Jordan', '74053 Matthew Motorway Suite 409
Lake Zachary, UT 86172', '900-9464', 26205242, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000092, 'Thomas Jones', '806 Espinoza Gardens
Holmestown, MT 37614', '322-9673', 59780322, 10);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000093, 'Angela Martinez', '17116 Howard Passage Apt. 574
Port Nicholasberg, CO 95401', '711-9747', 68351262, 1);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000094, 'Julia Hanson', '200 Moran Underpass Suite 154
New Randyland, NC 59245', '840-3129', 11795649, 4);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000095, 'Isabella Kim', '5404 Houston Island
Hartland, AL 67909', '440-5556', 45371694, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000096, 'Angela Schroeder', '7558 Ronald Divide
Matthewshire, CT 73558', '674-4299', 99782063, 6);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000097, 'Leonard Jimenez', 'USCGC Allen
FPO AA 51226', '475-6041', 50006494, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000098, 'Tristan Ali', '7938 Burke Stream
West Johnborough, FL 27364', '533-3426', 52663247, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000099, 'Emily Becker', '9495 Simmons Meadow
Port Michelle, UT 08665', '231-5341', 17452758, 1);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000100, 'Christina Wilson', '013 Sean Mews Apt. 887
Lake Meaganburgh, ME 11685', '344-4583', 82549214, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000101, 'Dawn Eaton', '51233 Stacey Fields Apt. 842
Julieville, NJ 71637', '138-7138', 47386763, 9);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000102, 'Rachel Chandler', '8354 Monroe Tunnel Suite 788
Sanchezmouth, FL 24729', '278-4306', 49191636, 11);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000103, 'Danielle Horton', 'Unit 1803 Box 4300
DPO AE 77674', '561-4280', 22072833, 1);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000104, 'Tina Burgess', '958 Sanford Parkways Apt. 272
New Bryanstad, KY 85853', '942-5197', 19066804, 13);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000105, 'Susan Cruz', 'Unit 7984 Box 6435
DPO AP 20305', '216-4798', 73735584, 10);
INSERT INTO patients (SSN, patient_name, address, phone, insurance_id, primary_care_provider) VALUES(500000106, 'Cynthia Smith', '4034 Peterson Landing Apt. 403
Morganport, MN 70822', '488-7281', 92526562, 13);

## Add patient stays to the hospital for given set of rooms

In [36]:
# Import hospital length of stay data
stay_length_data = pd.read_csv("data/los_data.csv")

los_df = stay_length_data[['length_stay','prob_length_stay']]

days_in_hospital = los_df['length_stay'].tolist()
prob_in_hospital = los_df['prob_length_stay'].tolist()

days_in_hospital = np.array((days_in_hospital),dtype=np.float64)

In [41]:
# Define hospital rooms
rooms =  [i+j for i in range(100, 700, 100) for j in range(1, 11)]

# Defines dates for which we will generate hospital stays
dates = pd.to_datetime(pd.date_range(start="2020-01-01",end="2021-03-23"))

# Defines a function that returns a dataframe of randomly generated patient stays
def patient_stays():
    # Create empty dataframe
    cols = ['date','patient_SSN','room_number','stay_start','stay_end']
    data = pd.DataFrame(columns = cols)
    
    # Create empty dictionaries to store patient and room data
    occupied_rooms = {}
    admitted_patients = {}
    
    # Separate week days by how likely patients will come to the hospital and stay
    busy_days = ['Monday','Thursday','Friday','Saturday']
    
    # Generated dirichlet distribution for patient population
    
    
    # Iterate over all the days in the date range of interest
    for date in dates:
        
        if (date.strftime('%A') in busy_days):
            daily_arrival = random.randint(3,10) # Here, we say on any day, between 3-19 people will arrive randomly
        else:
            daily_arrival = random.randint(0,3) # Here, we say on any day, between 3-19 people will arrive randomly
        
        # Need to update daily_patient_arrival *************************************************************
        daily_patient_arrival = random.sample(SSN_list,daily_arrival) # Select patients from the patient list
        
        # If the occupied_rooms/admitted_patients dictionary is not empty, subtract 1 day from the amount of 
        # time a patient is in the hospital from the total time they were set to stay in the hospital
        if len(occupied_rooms) != 0:
            occupied_rooms = {key: val - 1 for key, val in occupied_rooms.items()}
    
        if len(admitted_patients) != 0:
            admitted_patients = {key: val - 1 for key, val in admitted_patients.items()}
        
        # Delete patients and rooms from the list if they free up after a patient stay
        admitted_patients = {key:val for key, val in admitted_patients.items() if val >= 0}              
        occupied_rooms = {key:val for key, val in occupied_rooms.items() if val >= 0}    
        
        # Iterate over the randomly generated list of patients
        for patient in daily_patient_arrival:
            
            # If the randomly generated patient is already in the hospital, do nothing; 
            # If the randomly generated patient is new, assign them a room and hospital stay length in days
            if (patient not in admitted_patients):
                
                # Randomly sample a room
                assigned_room = random.choice(rooms)
                
                # If the room is already occupied, keep checking for a free room
                while (assigned_room in occupied_rooms): 
                    assigned_room = random.choice(rooms)

                # Here, we use the predetermined length of stay data     
                stay_length = np.random.choice(days_in_hospital,p=prob_in_hospital)
                stay_start = datetime.datetime.strptime(str(date),'%Y-%m-%d %H:%M:%S').date()
                stay_end = stay_start + datetime.timedelta(days=stay_length)
                
                # Add new patient/room (key) and stay_length (value) to the occupied_rooms and admitted_patients dictionaries
                occupied_rooms[assigned_room] = stay_length
                admitted_patients[patient] = stay_length

                data = data.append({'date':stay_start,'patient_SSN':patient,'room_number':assigned_room,'stay_start':stay_start,'stay_end':stay_end},ignore_index=True)
                
    return data

## Check added patient stay data for duplicates or error entries

In [42]:
# Call patient_stays function 
stay_data = patient_stays()

# Number of rows in data
print(len(stay_data.index))

# Check for duplicates (e.g., there should not be two entries with same data and room_number)
stay_data = stay_data.drop_duplicates(subset=['date','room_number'])

# Number of rows in clean data
print(len(stay_data.index))

1614
1614

## Create dataframe for each day and each hospital room

In [39]:
# Define function that creates dataframe with entry for each day in desired date range and each hospital room ("room_table")
def room_table():
    cols = ['date','room_number']
    room_df = pd.DataFrame(columns = cols)
    for date in dates:
        for room in rooms:
            current_room = room
            current_date = date
            room_df = room_df.append({'date':current_date,'room_number':current_room},ignore_index=True)
    return room_df

In [40]:
# Call function
room_df = room_table()

## Merge room_table with stay_data for database schema

In [43]:
# Use python sqlite3 to merge
conn = sqlite3.connect(':memory:')

# Send room_df and stay_data to sql
room_df.to_sql('rooms', conn, index=False)
stay_data.to_sql('stay_data', conn, index=False)

In [45]:
# SQL code to merge the two tables
qry = '''
    SELECT a.date, a.room_number, b.patient_SSN, b.stay_start, b.stay_end
    FROM rooms a
        LEFT JOIN stay_data b ON (a.date >= b.stay_start AND a.date <= b.stay_end) AND a.room_number = b.room_number
    ORDER BY a.date, a.room_number;
    '''
# Send output of SQL query to pandas df
df = pd.read_sql_query(qry,conn)

# Output dataframes to csv for additional error checking
stay_data.to_csv('data/stay_data_check.csv')
df.to_csv('data/df_check.csv')

## Add availability column to dataframe and write INSERT INTO statements

In [20]:
# Add new availability column (true=room available, false = room occupied)
df['room_available'] = np.where(np.isnan(df['patient_SSN']),True,False)

# Remove timestamp from date column
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].dt.date

# Convert patient_SSN from float64 to object
df['patient_SSNs'] = np.where(np.isnan(df['patient_SSN']),'Null',df['patient_SSN'])
df['patient_SSNs'] = df['patient_SSNs'].str.replace('.0','',regex=False)

In [ ]:
# Create SQL insert statements for 'room_stays' table
for index, row in df.iterrows():
    print(f"INSERT INTO room_stays (room_number, room_date, patient_SSN, room_available) VALUES({row['room_number']},'{row['date']}',{row['patient_SSNs']},{row['room_available']});")

In [ ]:
# Create SQL insert statements for 'rooms' table
for room in rooms:
    print(f"INSERT INTO rooms (room_number, room_type) VALUES({room},'Single');")

In [ ]:
# Create SQL insert statements for 'stays' table
for index, row in df.iterrows():
    if row['patient_SSNs'] != 'Null':
        print(f"INSERT INTO stays (patient_SSN, room_number, stay_start, stay_end) VALUES({row['patient_SSNs']},{row['room_number']},'{row['stay_start']}','{row['stay_end']}');")